{# **************** #}
{# *** Settings *** #}
{# **************** #}

{% extends "/AdminView/layout/layoutAdmin.twig" %}

{% block titre %}Mise à jour utilisateur{% endblock %}


{% block main %}

    <h2 class="text-center mb-5 mt-5 write-white"><span class="underline">M</span>ise à jour utilisateur</h2>

    <form class="container mt-5 write-white" action="{{ pathPost() }}" method="post" enctype="multipart/form-data">

        <p id="error" class="row d-flex justify-content-center {{ messageStyle('users') }}">{{ message('users') }}</p>

        {% for users in users %}

            <div class="form-row row d-flex justify-content-center">
                <div class="form-group col-md-4">
                    <label for="inputName">Nom de compte*</label>
                    <input required type="Text" class="form-control" id="inputName" name="inputName" placeholder="Nom de compte" value="{{ users.username }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputEmail">E-mail*</label>
                    <input required type="Email" class="form-control" id="inputEmail" name="inputEmail" placeholder="E-mail" value="{{ users.email }}">
                </div>
            </div>

            <div class="form-row row d-flex justify-content-center">
                <div class="form-group col-md-4">
                    <label for="inputPassword1">Mot de passe*</label>
                    <input required type="password" class="form-control" id="inputPassword1" name="inputPassword1" placeholder="Mot de passe">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword2">Confirmation du mot de passe*</label>
                    <input required type="password" class="form-control" id="inputPassword2" name="inputPassword2" placeholder="Confirmation du mot de passe">
                </div>
            </div>

            <div class="form-row row d-flex justify-content-center mt-3 mb-4">
                <div class="form-group col-md-4">
                    <label for="inputNom">Nom*</label>
                    <input required type="text" class="form-control" id="inputNom" name="inputNom" placeholder="Nom" value="{{ users.name }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPrenom">Prénom*</label>
                    <input required type="text" class="form-control" id="inputPrenom" name="inputPrenom" placeholder="Prénom" value="{{ users.firstname }}">
                </div>
            </div>


            <div class="row d-flex justify-content-center mt-3 mb-4">
                <img class="radius-50 w-20 text-center" src="{{ users.image }}">
            </div>

            <div class="row d-flex justify-content-center form-group mt-3">
                <input required type="file" id="avatar" name="avatar" accept=".jpg, .jpeg, .png, .svg, .gif"
                       class="form-control-file col-md-8">
            </div>


            <div class="form-group row d-flex justify-content-center mt-5">
                <div class="form-check">
                    <input required class="form-check-input" type="checkbox" id="inputCheckbox">
                    <label class="form-check-label" for="inputCheckbox">
                        Check me out
                    </label>
                </div>
            </div>

        {% endfor %}

        <div class="row d-flex justify-content-center mt-5 mb-5">
            <button type="submit" class="btn btn-arrow-style btn-arrow">Send</button>
        </div>
    </form>

{% endblock %}
