{# **************** #}
{#  Update Article  #}
{# **************** #}

{% extends "/AdminView/layout/layoutAdmin.twig" %}

{% block titre %}Mettre à jour un Article{% endblock %}


{% block main %}

    <h2 class="text-center mb-5 mt-5 write-white"><span class="underline">M</span>ettre à jour un Article</h2>

    <form class="container mt-5 write-white" action="{{ pathPost() }}" method="post" enctype="multipart/form-data">

        <p id="error" class="row d-flex justify-content-center error-text">{{ errors('inscription') }}</p>
        <p id="error" class="row d-flex justify-content-center validate-text">{{ validate('inscription') }}</p>

        <div class="form-row row d-flex justify-content-center">
            <div class="form-group col-md-8">
                <label for="inputName">Nom article*</label>
                <input required type="Text" class="form-control" id="inputName" name="inputName"
                       placeholder="Nom de compte" value="{{ articles.nomArticle }}">
            </div>
        </div>

        <div class="form-row row d-flex justify-content-center">
            <div class="form-group col-md-8">
                <label for="inputChapo">Chapo article*</label>
                <input required type="Text" class="form-control" id="inputChapo" name="inputChapo"
                       placeholder="Chapo article" value="{{ articles.chapoArticle }}">
            </div>
        </div>

        <div class="form-row row d-flex justify-content-center">
            <div class="form-group col-md-8">
                <label for="inputType">Type article*</label>
                <select required type="Text" class="form-control" id="inputType" name="inputType"
                        placeholder="Chapo article">
                    {% for types in types %}
                        <option
                        {% if types.id == articles.id_categories %}
                            selected
                        {% endif %}
                        value="{{ types.id }}">{{ types.titre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>



        <div class="form-row row d-flex justify-content-center">
            <div class="form-group col-md-8">
                <label for="inputContenue">Contenue Article*</label>
                <textarea required type="Text" class="form-control" id="inputContenue" name="inputContenue"
                          placeholder="Chapo article">{{ articles.contenueArticle }}</textarea>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-3 mb-4">
            <img class="w-20 text-center" src="{{ articles.image }}">
        </div>

        <div class="row d-flex justify-content-center form-group mt-3">
            <input required type="file" id="avatar" name="avatar" accept=".jpg, .jpeg, .png, .svg, .gif"
                   class="form-control-file col-md-8">
        </div>


        <div class="form-group row d-flex justify-content-center mt-5">
            <div class="form-check">
                <input required class="form-check-input" type="checkbox" id="inputCheckbox">
                <label class="form-check-label" for="inputCheckbox">
                    Check me out
                </label>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-5 mb-5">
            <button type="submit" class="btn btn-arrow-style btn-arrow">Send</button>
        </div>
    </form>

{% endblock %}