{# **************** #}
{# *** Articles *** #}
{# **************** #}

{% extends "/PublicView/layout/layout.twig" %}

{% block titre %}Articles{% endblock %}


{% block main %}

    <h2 class="text-center mb-5 mt-5 write-white"><span class="underline">A</span>rticles</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-10 pl-0 pr-0">
                {% for articles in articles %}
                    <div class="card m-5">
                        <img class="card-img-top" src="\{{ articles.image }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ articles.nomArticle }}</h5>
                            <p class="card-text">
                                <small class="text-muted">{{ articles.auteurArticle }}</small>
                            </p>
                            <p class="card-text">{{ articles.contenueArticle }}</p>
                            <p class="card-text">
                                <small class="text-muted">{{ articles.dateMaj }}</small>
                            </p>
                            <a href="/public/articles/view/{{ articles.id }}"
                               class="btn btn-emerauld text-center">Voir Plus</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-2 pl-0 pr-0">

                <div class="article-cat mt-5">
                    <h3 class="text-center write-white mt-5 mb-5"><span class="underline">C</span>atégories</h3>
                    <ul>
                        {% for categories in categories %}
                            <li class="pb-3"><a href="/public/articles/type/{{ categories.id }}">
                                    {{ categories.titre }}</a></li><hr>
                        {% endfor %}
                    </ul>
                </div>

                <div class="article-cat mt-5">
                    <h3 class="text-center write-white mt-5 mb-5"><span class="underline">A</span>uteur</h3>
                    <ul>
                        {% for auteur in auteur %}
                            <li class="pb-3"><a href="/public/articles/auteur/{{ auteur.auteurArticle }}">
                                    {{ auteur.auteurArticle }}</a></li><hr>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>

{% endblock %}