{# **************** #}
{# *** SideBar **** #}
{# **************** #}

<input type="checkbox" class="btn btn-link" id="menu-toggle">
<input type="checkbox" class="d-none" id="arrow-toggle">

<nav class="bg-emeraude sidebar" id="sidebar-wrapper">
    <div for="menu-toggle" id="test-sidebar">

        <div class="sidebar-heading text-center">
            <i class="fa fa-tachometer"></i>
        </div>

        <div class="sidebar-heading text-center">
        <a href="index.php?page=admin.settings" id="navbardrop">
            <img class="radius-50 icon-pp" src="/{{ userImage() }}" alt="">
        </a>
        </div>

        <ul class="list-group list-group-flush">

            <li>
                <a href="index.php?side=admin&rubric=users" class="list-group-item list-group-item-action bg-light {{ currentUrl('side=admin&rubric=users') }}">
                    <i class="fa fa-user"></i>
                    <span class="arrow-hide">Utilisateur</span>
                </a>
            </li>

            <li>
                <a href="index.php?side=admin&rubric=administration" class="list-group-item list-group-item-action bg-light {{ currentUrl('side=admin&rubric=administration') }}">
                    <i class="fa fa-sliders"></i>
                    <span class="arrow-hide">Administatrion</span>
                </a>
            </li>
            <li>
                <a href="index.php?side=admin" class="list-group-item list-group-item-action bg-light {{ currentUrl('side=admin') }}">
                    <i class="fa fa-bar-chart"></i>
                    <span class="arrow-hide">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="index.php?side=admin&rubric=articles" class="list-group-item list-group-item-action bg-light {{ currentUrl('side=admin&rubric=articles') }}">
                    <i class="fa fa-files-o"></i>
                    <span class="arrow-hide">Articles</span>
                </a>
            </li>
            <li>
                <a href="index.php?side=admin&rubric=commentaries" class="list-group-item list-group-item-action bg-light {{ currentUrl('side=admin&rubric=commentaries') }}">
                    <i class="fa fa-comment"></i>
                    <span class="arrow-hide">Commentaires</span>
                </a>
            </li>
            <li>
                <a href="index.php?side=public" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-home"></i>
                    <span class="arrow-hide">Home</span>
                </a>
            </li>

            <li>
                <label for="arrow-toggle" id="arrow-gen" class="wrapper-arrow">
                    <div id="arrow-top" class="arrow-line line-top"></div>
                    <div id="arrow-bot" class="arrow-line line-bot"></div>
                </label>
            </li>

        </ul>
    </div>
</nav>

